<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spaceMonster2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>spaceMonster2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceMonster2.png</string>
            <key>size</key>
            <string>{98,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:debb4809b4292fa2ff92b48dd596364f:734b4e845e09dfb3f491e084d5b5a527:a5629dacb9881976eb985d7fbeaed7fd$</string>
            <key>textureFileName</key>
            <string>spaceMonster2.png</string>
        </dict>
    </dict>
</plist>
