<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spaceMonster3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>spaceMonster3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceMonster3.png</string>
            <key>size</key>
            <string>{132,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e10aadffd8bc552c3ab4fa77a274113:700be9756b121f0c08f6b4706e4a7582:80ff51ef79581780a6d99f932d1d6736$</string>
            <key>textureFileName</key>
            <string>spaceMonster3.png</string>
        </dict>
    </dict>
</plist>
